/*
    Jonathan Klaiber
    Programming Project 2015

    Image source:
    All images are obtained from Google Image Search for
    images with a licence to modify and reuse.
    All images are modified with regard to size and shape.

    CSS corresponding to list functionality in episodelist.js
*/

#episodelist {
  background-color: white;
  margin: 10px;
  position: absolute;
  left: 1200px;
  top: 335px;
  height: 500px;
  width: 300px;
  padding: 10px;
  overflow: auto;
  opacity: 0;
}

.sublist {
  list-style: none;
  font-weight: bold;
}

#list {
  cursor: pointer;
}

#episodelist .avro {
  list-style-image: url(../images/avro_logo_very_small.png);
}

#episodelist .bnn {
  list-style-image: url(../images/bnn_logo_very_small.png);
}

#episodelist .eo {
  list-style-image: url(../images/eo_logo_very_small.png);
}

#episodelist .kro {
  list-style-image: url(../images/kro_logo_very_small.png);
}

#episodelist .kro-ncrv {
  list-style-image: url(../images/kro-ncrv_logo_very_small.png);
}

#episodelist .max {
  list-style-image: url(../images/max_logo_very_small.png);
}

#episodelist .ncrv {
  list-style-image: url(../images/ncrv_logo_very_small.png);
}

#episodelist .nps {
  list-style-image: url(../images/nps_logo_very_small.png);
}

#episodelist .nos {
  list-style-image: url(../images/nos_logo_very_small.png);
}

#episodelist .ntr {
  list-style-image: url(../images/ntr_logo_very_small.png);
}

#episodelist .tros {
  list-style-image: url(../images/tros_logo_very_small.png);
}

#episodelist .vara {
  list-style-image: url(../images/vara_logo_very_small.png);
}

#episodelist .vpro {
  list-style-image: url(../images/vpro_logo_very_small.png);
}

#episodelist .npo_journalistiek {
  list-style-image: url(../images/npo_journalistiek_logo_very_small.png);
}