/*
    Jonathan Klaiber
    Programming Project 2015

    CSS corresponding to general styling of index.html
*/
body {
  background-image: url("images/npo_background.jpg");
  font-family: arial;
}

html, body {
    height: 500px;
    width: 1000px;
    margin: 10px;
    padding: 10px
  }

.intro {
  position: absolute;
  color: #ff6d00;
  margin: 10px;
  left: 100px;
  width: 1000px;
  background-color: black;
  padding: 10px
}

.arrow {
  display: inline-block;
  width: 0; 
  height: 0; 
}

.programfilter {
  background: white;
  height: 30px;
  color: black;
}

#results {
  height: 20px;
  top: 760px;
  display: inline-block;
  opacity: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

#filtertext {
  display: inline-block;
  position: relative;
  left: 5px;
}

#arrowdiv {
  display: inline-block;
  width: 10px;
}

#filtertoggle {
  height: 100px;
  position: absolute;
  left: 100px;
  width: 1020px;
  padding: 0;
  top: 220px;
}

#arrow-right {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #ff6d00;
}

#arrow-down {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #ff6d00;
}

#filterdiv {
  font-size: 15px;
  top: 180px;
}

#introtext {
  top: 130px;
  height: 20px;
}

#pagetitle {
  background-color: transparent;
  top: 60px;
  font-size: 40px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-style: italic;
}