body {
  background-image: url("images/npo_background.jpg");
}


html, body, #map-canvas {
    height: 65%;
    width: 60%;
    margin: 10px;
    padding: 10px
  }

#map-canvas {
  position: absolute;
  top: 200px;
  left: 100px;
}
#episodelist {
  background-color: white;
  opacity: 70%;
  margin: 10px;
  position: absolute;
  right: 100px;
  top: 200px;
  height: 65%;
  width: 20%;
}
#pagetitle {
  position: absolute;
  top: 100px;
  left: 100px;
  color: #ff6d00;
  font-size: 40px;
  font-family: arial;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-style: italic;
}
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}
