body {
  background-image: url("images/npo_background.jpg");
  font-family: arial;
}

html, body, #map-canvas {
    height: 500px;
    width: 1000px;
    margin: 10px;
    padding: 10px
  }
/*ul {
  margin: 10px;
  position: relative;
  left: 10px;
  top: 10px;
}*/

#episodelist .max {
  list-style-image: url(images/max_logo_very_small.png);
}
#episodelist .eo {
  list-style-image: url(images/eo_logo_very_small.png);
}
#episodelist .ntr {
  list-style-image: url(images/ntr_logo_very_small.png);
}
#episodelist .tros {
  list-style-image: url(images/tros_logo_very_small.png);
}
#episodelist .vara {
  list-style-image: url(images/vara_logo_very_small.png);
}
#episodelist .vpro {
  list-style-image: url(images/vpro_logo_very_small.png);
}
#episodelist .ncrv {
  list-style-image: url(images/ncrv_logo_very_small.png);
}
#episodelist .npo_journalistiek {
  list-style-image: url(images/npo_journalistiek_logo_very_small.png);
}
#episodelist .bnn {
  list-style-image: url(images/bnn_logo_very_small.png);
}
#episodelist .kro-ncrv {
  list-style-image: url(images/kro-ncrv_logo_very_small.png);
}
#episodelist .avro {
  list-style-image: url(images/avro_logo_very_small.png);
}
#episodelist .kro {
  list-style-image: url(images/kro_logo_very_small.png);
}
#episodelist .vpro {
  list-style-image: url(images/vpro_logo_very_small.png);
}
#episodelist .nps {
  list-style-image: url(images/nps_logo_very_small.png);
}
.sublist {
  list-style: none;
  font-weight: bold;
}

#map-canvas {
  position: absolute;
  top: 230px;
  left: 100px;
}
#episodelist {
  background-color: white;
  margin: 10px;
  position: absolute;
  left: 1200px;
  top: 230px;
  height: 500px;
  width: 300px;
  padding: 10px;
  overflow: auto;
}
.intro {
  position: absolute;
  color: #ff6d00;
  margin: 10px;
  left: 100px;
  width: 1000px;
  background-color: black;
  padding: 10px
}
#filterdiv {
  font-size: 15px;
  top: 180px;
}
#introtext {
  top: 130px;
  height: 20px;
}
#pagetitle {
  background-color: transparent;
  top: 60px;
  font-size: 40px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-style: italic;
}
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}
